extends ../layouts/master

block top-slider
	include ../includes/top-slider.jade
	//span=JSON.stringify(data)
block last-videos
	include ../includes/last-videos.jade
//block last-hashtags
	include ../includes/last-hashtags.jade