extends ../layouts/master

block video
  .video-wrapper
    .container
      .video-info
        h1 Godzilla Official Main Trailer
        span.views
          i.fa.fa-eye
          | 741
        a.likes-dislikes(href='javascript:void(0)')
          span.likes
            i.fa.fa-thumbs-up
            label.likevideo1717 48
      .videoWrapper.player
        iframe(width='1140', height='641', src='http://www.youtube.com/embed/vIu85WQTPRc', frameborder='0', allowfullscreen='allowfullscreen')

block content
  .row.video-options
    .col-xs-3
      a.option.comments-scrolling(href='javascript:void(0)')
        i.fa.fa-comments
        span.option-text Botones
    .col-xs-3
      a#off.option.share-button(href='javascript:void(0)')
        i.fa.fa-share
        span.option-text Para
    .col-xs-3
      a#buttonlike.option.likes-dislikes(href='javascript:void(0)', action='http://theme.marstheme.com/videotube/video/godzilla-official-main-trailer/like', video='1717')
        i.fa.fa-thumbs-up
        span.option-text.likes-dislikes
          label.likevideo1717 Los
    .col-xs-3
      //LIGHT SWITCH 
      a.option.switch-button(href='javascript:void(0)')
        i.fa.fa-lightbulb-o
        span.option-text Hashtags
  .video-details
    span.date
      | Publicado el 22 de agosto del 2014 by 
      a(href='#') Toan Nguyen
    .post-entry
      p
        | Lorem ipsum dolor sit amet, erant complectitur ea nec, no sea vide nullam, ne appareat quaerendum vel. Cu meliore accusata vis, nam facer evertitur cu, id facilisi abhorreant per. Putant animal eu sea, ne quot nihil mediocritatem cum, cu ius torquatos dissentiet contentiones. Eos ex propriae invidunt accusamus, in vidit deterruisset eum, everti ponderum suavitate nec ad. Et dico melius insolens vis, nullam corrumpit adipiscing mel id.
      p
        | Utroque singulis consectetuer eam ei. Ne vel tritani definiebas, viris quaeque invenire sit ea. No consul mollis est. Iuvaret tractatos voluptatum per te.
    span.meta
      span.meta-info Category
      a(href='../../categories/trailers/index.html', rel='tag') Trailers
    span.meta
      span.meta-info Tag
      a(href='../../video_tag/featuredvid/index.html', rel='tag') featuredvid
      a(href='../../video_tag/godzilla/index.html', rel='tag') godzilla
      a(href='../../video_tag/movies/index.html', rel='tag') movies
      a(href='../../video_tag/trailer/index.html', rel='tag') trailer

  block comments
    include ../includes/video-comments.jade
    
block sidebar
  include ../includes/video-sidebar.jade

