block last-videos
  .container
    .row
      .col-sm-12
        #carousel-latest-mars-mainpost-widgets-2.carousel.carousel-mars-mainpost-widgets-2.slide.video-section(data-ride='carousel')
          .section-header
            h3
              i.fa.fa-pencil
              | Ultimos Videos
          .latest-wrapper
            .row
              .carousel-inner
                .item.active
                  each item in data.lastVideos
                    .post.type-post.status-publish.col-sm-3.col-xs-6
                      a(title=item.title, href='video/'+item.id)
                        img.img-responsive.images-last-videos(src=item._.imageCloudinary.thumbnail(263, 197))
                      .post-header
                        h3
                          a(title=item.title, href='video/'+item.id)=item.title
                        span.post-meta
                          i.fa.fa-clock-o=item._.dateCreation.moment().lang('es').format('LL')