.container
  .row
    .col-sm-12
      #carousel-latest-mars-mainpost-widgets-2.carousel.carousel-mars-mainpost-widgets-2.slide.video-section(data-ride='carousel')
        .section-header
          h3
            i.fa.fa-pencil
            | Ultimos Hashtags
        .latest-wrapper
          .row
            .carousel-inner
              .item.active
                each item in data.moreUsedHashtags
                  .post.type-post.status-publish.col-sm-2.col-xs-6
                    a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                      img.img-responsive.wp-post-image(width='230', height='150', src='/video-images/'+item.image.filename)
                    .post-header
                      h3
                        a(title='10 Viral Videos You Have to See', href='index.html?p=1973')=item.title
                      span.post-meta
                        i.fa.fa-clock-o
                        | April 25 ,2014