.container
  .row
    .col-sm-12
      #carousel-latest-mars-mainpost-widgets-2.carousel.carousel-mars-mainpost-widgets-2.slide.video-section(data-ride='carousel')
        .section-header
          h3
            i.fa.fa-pencil
            | Ultimos Hashtags
        .latest-wrapper
          .row
            .carousel-inner
              .item.active
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
                .post.type-post.status-publish.col-sm-2.col-xs-6
                  a(title='10 Viral Videos You Have to See', href='index.html?p=1973')
                    img.img-responsive.wp-post-image(width='230', height='150', src='frontend/imagenesejemplo/All-0055-230x150.jpg', alt='All-0055')
                  .post-header
                    h3
                      a(title='10 Viral Videos You Have to See', href='index.html?p=1973') 10 Viral Videos You Have to See
                    span.post-meta
                      i.fa.fa-clock-o
                      | April 25 ,2014
      //
         /#Hashtags
    //
       /.video-section 
  //
     /.row 
//
   /.container 