#navigation-wrapper
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul#menu-header-menu.nav.navbar-nav.list-inline.menu
        li.menu-item
          a(href='home') INICIO
        li#menu-item-139.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.dropdown.menu-item-139.depth
          a(href='../index.html')
            | Browse
            b.caret
          ul.dropdown-menu
            li.menu-item
              a(href='') SUBIR PARTIDO
            li.menu-item
              a(href='') SUBIR PARTIDO
            li.menu-item
              a(href='') SUBIR PARTIDO
            li.menu-item
              a(href='') SUBIR PARTIDO
        li.menu-item
          a(href='upload') SUBIR PARTIDO