#carousel-featured-mars-featuredvideo-widgets-2.carousel.carousel-mars-featuredvideo-widgets-2.slide(data-ride='carousel')
  .container.section-header
    h3
      i.fa.fa-star
      | Partidos Destacados
    ol.carousel-indicators.section-nav
      li.bullet.active(data-target='#carousel-featured-mars-featuredvideo-widgets-2', data-slide-to='0')
      li.bullet(data-target='#carousel-featured-mars-featuredvideo-widgets-2', data-slide-to='1')
  .featured-wrapper
    .container
      .row
        .carousel-inner
          .item.active.1
            #video-featured-34.col-sm-4.mars-featuredvideo-widgets-2-34
              .item-img
                a(title='New Destiny Trailer', href='http://theme.marstheme.com/videotube/video/destiny/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/game1-360x240.jpg', alt='game1')
                a(href='http://theme.marstheme.com/videotube/video/destiny/')
                  .img-hover
              .feat-item
                .feat-info.video-info-34
                  h3
                    a(title='New Destiny Trailer', href='http://theme.marstheme.com/videotube/video/destiny/') New Destiny Trailer
                  .meta
                    span.date 2 months ago
                    span.views
                      i.fa.fa-eye
                      | 1819
                    span.heart
                      i.fa.fa-heart
                      | 116
                    span.fcomments
                      i.fa.fa-comments
                      | 0
            #video-featured-214.col-sm-4.mars-featuredvideo-widgets-2-214
              .item-img
                a(title='Dawn of the Planet of the Apes Trailer', href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/movie1-360x240.jpg', alt='movie1')
                a(href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/')
                  .img-hover
              .feat-item
                .feat-info.video-info-214
                  h3
                    a(title='Dawn of the Planet of the Apes Trailer', href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/') Dawn of the Planet of the Apes Trailer
                  .meta
                    span.date 1 month ago
                    span.views
                      i.fa.fa-eye
                      | 465
                    span.heart
                      i.fa.fa-heart
                      | 21
                    span.fcomments
                      i.fa.fa-comments
                      | 0
            #video-featured-214.col-sm-4.mars-featuredvideo-widgets-2-214
              .item-img
                a(title='Dawn of the Planet of the Apes Trailer', href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/movie1-360x240.jpg', alt='movie1')
                a(href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/')
                  .img-hover
              .feat-item
                .feat-info.video-info-214
                  h3
                    a(title='Dawn of the Planet of the Apes Trailer', href='http://theme.marstheme.com/videotube/video/dawn-of-the-planet-of-the-apes-trailer/') Dawn of the Planet of the Apes Trailer
                  .meta
                    span.date 1 month ago
                    span.views
                      i.fa.fa-eye
                      | 465
                    span.heart
                      i.fa.fa-heart
                      | 21
                    span.fcomments
                      i.fa.fa-comments
                      | 0
          .item.3
            #video-featured-249.col-sm-4.mars-featuredvideo-widgets-2-249
              .item-img
                a(title='Purity Ring – “Ungirthed”', href='http://theme.marstheme.com/videotube/video/purity-ring-ungirthed/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/music5-360x240.jpg', alt='music5')
                a(href='http://theme.marstheme.com/videotube/video/purity-ring-ungirthed/')
                  .img-hover
              .feat-item
                .feat-info.video-info-249
                  h3
                    a(title='Purity Ring – “Ungirthed”', href='http://theme.marstheme.com/videotube/video/purity-ring-ungirthed/') Purity Ring – “Ungirthed”
                  .meta
                    span.date 1 month ago
                    span.views
                      i.fa.fa-eye
                      | 659
                    span.heart
                      i.fa.fa-heart
                      | 87
                    span.fcomments
                      i.fa.fa-comments
                      | 0
            #video-featured-1717.col-sm-4.mars-featuredvideo-widgets-2-1717
              .item-img
                a(title='Godzilla Official Main Trailer', href='http://theme.marstheme.com/videotube/video/godzilla-official-main-trailer/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/game9-360x240.jpg', alt='game9')
                a(href='http://theme.marstheme.com/videotube/video/godzilla-official-main-trailer/')
                  .img-hover
              .feat-item
                .feat-info.video-info-1717
                  h3
                    a(title='Godzilla Official Main Trailer', href='http://theme.marstheme.com/videotube/video/godzilla-official-main-trailer/') Godzilla Official Main Trailer
                  .meta
                    span.date 1 month ago
                    span.views
                      i.fa.fa-eye
                      | 740
                    span.heart
                      i.fa.fa-heart
                      | 48
                    span.fcomments
                      i.fa.fa-comments
                      | 0
            #video-featured-1719.col-sm-4.mars-featuredvideo-widgets-2-1719
              .item-img
                a(title='#SELFIE – The Chainsmokers', href='http://theme.marstheme.com/videotube/video/selfie-the-chainsmokers/')
                  img.img-responsive.wp-post-image(width='360', height='240', src='/frontend/imagenesejemplo/music2-360x240.jpg', alt='music2')
                a(href='http://theme.marstheme.com/videotube/video/selfie-the-chainsmokers/')
                  .img-hover
              .feat-item
                .feat-info.video-info-1719
                  h3
                    a(title='#SELFIE – The Chainsmokers', href='http://theme.marstheme.com/videotube/video/selfie-the-chainsmokers/') #SELFIE – The Chainsmokers
                  .meta
                    span.date 1 month ago
                    span.views
                      i.fa.fa-eye
                      | 1530
                    span.heart
                      i.fa.fa-heart
                      | 89
                    span.fcomments
                      i.fa.fa-comments
                      | 0