#carousel-featured-mars-featuredvideo-widgets-2.carousel(data-ride='carousel')
  .container.section-header
    h3
      i.fa.fa-star
      | Partidos Destacados
    ol.carousel-indicators.section-nav
      li.bullet.active(data-target='#carousel-featured-mars-featuredvideo-widgets-2', data-slide-to='0')
      li.bullet(data-target='#carousel-featured-mars-featuredvideo-widgets-2', data-slide-to='1')
  .featured-wrapper
    .container
      .row
        .carousel-inner
          .item.active.1
            each item in data.outstandingVideos
              .col-sm-4
                .item-img
                  a(title='New Destiny Trailer', href='http://theme.marstheme.com/videotube/video/destiny/')
                    img.img-responsive(src=item._.imageCloudinary.thumbnail(360, 240), alt=item.title)
                  a(href='/video/'+item.id)
                    .img-hover
                .feat-item
                  .feat-info.video-info-34
                    h3
                      a(title=item.title, href='/video/'+item.id)=item.title
                    .meta
                      span.date=item._.dateCreation.moment().lang('es').format('LL')
                      span.views
                        i.fa.fa-eye
                        | 1819
                      span.heart
                        i.fa.fa-heart
                        | 116
                      span.fcomments
                        i.fa.fa-comments
                        | 0