block sharing
    .widget
      h4.widget-title Compartilo
      .social-counter-item
        a(target='_blank', href='#')
          i.fa.fa-facebook
          span.counter 0
          span.counter-text Fans
      .social-counter-item
        a(target='_blank', href='#')
          i.fa.fa-twitter
          span.counter 0
          span.counter-text Followers
      .social-counter-item
        a(target='_blank', href='#')
          i.fa.fa-google-plus
          span.counter 0
          span.counter-text Fans
      .social-counter-item.last
        a(href='#', data-toggle='modal', data-target='#subscrib-modal')
          i.fa.fa-rss
          span.counter 87
          span.counter-text Subscribers
      //Modal 
      #subscrib-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='subscrib-modal-label', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#subscrib-modal-label.modal-title Subscribe
            .modal-body
              form#mars-subscribe-form(method='post', role='form', action='#', name='mars-subscribe-form')
                .form-group.name
                  label(for='name') Your Name
                  input#name.form-control(type='text')
                .form-group.email
                  label(for='email') Your Email Address
                  input#email.form-control(type='email')
                .checkbox
                  label
                    input#agree(name='agree', type='checkbox')
                    a(href='../../privacy-policy/index.html') User Agreement & Privacy Policy
                input#mars_subscrib(type='hidden', name='mars_subscrib', value='4db03646ef')
                input(type='hidden', name='_wp_http_referer', value='/videotube/video/godzilla-official-main-trailer/')
                button.btn.btn-primary(type='submit') Register
                input(type='hidden', name='submit-label', value='Register')
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                input#referer(type='hidden', name='referer', value='1717')

block more-videos
  .widget
    h4.widget-title OTROS VIDEOS
    each item in data.relatedVideos
      .item.mars-videos-sidebar-widget-23-7
        .item-img
          a(title=item.title, href='video/'+item.id)
            img.img-responsive(width='360', height='240', src=item._.imageCloudinary.thumbnail(360, 240), alt=item.title)
          a(href='video/'+item.id)
            .img-hover
        h3
          a(title=item.title, href='video/'+item.id)=item.title
        .meta
          span.date 2 months ago
          span.views
            i.fa.fa-eye
            | 440
          span.heart
            i.fa.fa-heart
            | 28
          span.fcomments
            i.fa.fa-comments
            | 3